In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import ensemble
import joblib
from sklearn.metrics import mean_absolute_error

In [2]:
df = pd.read_csv("ml_house_data_set.csv")

df.drop(['house_number', 'unit_number', 'street_name', 'zip_code'], axis=1, inplace=True)

features_df = pd.get_dummies(df, columns=['garage_type', 'city'])
features_df.head(1)

,year_built,stories,num_bedrooms,full_bathrooms,half_bathrooms,livable_sqft,total_sqft,garage_sqft,carport_sqft,has_fireplace,...,city_South Anthony,city_South Stevenfurt,city_Toddshire,city_Wendybury,city_West Ann,city_West Brittanyview,city_West Gerald,city_West Gregoryview,city_West Lydia,city_West Terrence
0,1978,1,4,1,1,1689,1859,508,0,True,...,0,0,0,0,0,0,0,0,0,0

In [3]:
X = features_df.drop('sale_price',axis=1)
y = df['sale_price']

X.shape

(42703, 63)

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [5]:
print(len(X_train))
print(len(X_test))
print(len(y_train))
print(len(y_test))

29892
12811
29892
12811

In [6]:
# Fit regression model
model = ensemble.GradientBoostingRegressor(
    n_estimators=1000,
    learning_rate=0.1,
    max_depth=6,
    min_samples_leaf=9,
    max_features=0.1,
    loss='huber'
)

model.fit(X_train, y_train)

joblib.dump(model, 'trained_house_classifier_model.pkl')

['trained_house_classifier_model.pkl']

In [7]:
mean_absolute_error(y_train, model.predict(X_train))

48622.86827211284

In [8]:
mean_absolute_error(y_test, model.predict(X_test))

59176.33395528332