## Support Vector Machines: Fit and evaluate a model

Using the Titanic dataset from [this](https://www.kaggle.com/c/titanic/overview) Kaggle competition.

In this section, we will fit and evaluate a simple Support Vector Machines model.

### Read in Data

![CV](../../img/CV.png)
![Cross-Val](../../img/Cross-Val.png)

In [1]:
import joblib
import pandas as pd
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
import warnings
warnings.filterwarnings('ignore', category=FutureWarning)
warnings.filterwarnings('ignore', category=DeprecationWarning)

tr_features = pd.read_csv('../../../train_features.csv')
tr_labels = pd.read_csv('../../../train_labels.csv')

In [2]:
tr_features.head()

   Pclass  Sex   Age     Fare  Family_cnt  Cabin_ind
0       2    0  62.0  10.5000           0          0
1       3    0   8.0  29.1250           5          0
2       3    0  32.0  56.4958           0          0
3       3    1  20.0   9.8250           1          0
4       2    1  28.0  13.0000           0          0

In [3]:
tr_labels.head()

   Survived
0         1
1         0
2         1
3         0
4         1

### Hyperparameter tuning

![c](../../img/c.png)

In [4]:
def print_results(results):
    print('BEST PARAMS: {}\n'.format(results.best_params_))

    means = results.cv_results_['mean_test_score']
    stds = results.cv_results_['std_test_score']
    for mean, std, params in zip(means, stds, results.cv_results_['params']):
        print('{} (+/-{}) for {}'.format(round(mean, 3), round(std * 2, 3), params))

In [7]:
svc = SVC()
parameters = {
    'kernel': ['linear', 'rbf'],
    'C': [0.1, 1, 10, 100]
}

cv = GridSearchCV(svc, parameters, cv = 5)
cv.fit(tr_features, tr_labels.values.ravel())

GridSearchCV(cv=5, estimator=SVC(),
             param_grid={'C': [0.1, 1, 10, 100], 'kernel': ['linear', 'rbf']})

In [8]:
print_results(cv)

BEST PARAMS: {'C': 0.1, 'kernel': 'linear'}

0.796 (+/-0.115) for {'C': 0.1, 'kernel': 'linear'}
0.654 (+/-0.06) for {'C': 0.1, 'kernel': 'rbf'}
0.796 (+/-0.115) for {'C': 1, 'kernel': 'linear'}
0.661 (+/-0.048) for {'C': 1, 'kernel': 'rbf'}
0.796 (+/-0.115) for {'C': 10, 'kernel': 'linear'}
0.684 (+/-0.07) for {'C': 10, 'kernel': 'rbf'}
0.796 (+/-0.115) for {'C': 100, 'kernel': 'linear'}
0.788 (+/-0.111) for {'C': 100, 'kernel': 'rbf'}

In [9]:
cv.best_estimator_

SVC(C=0.1, kernel='linear')

### Write out pickled model

In [10]:
joblib.dump(cv.best_estimator_, '../../../SVM_model.pkl')

['../../../SVM_model.pkl']