# Data types

# Strings

In [2]:
name = 'walmart'
sentence = "I work for Walmart"
para = """I love python and
I work for Walmart and
I stay in Bangalore"""

In [3]:
type(name)

str

In [4]:
type(sentence)

str

In [5]:
type(para)

str

In [6]:
name[0]  # first char

'w'

In [7]:
name[-1] # last char

't'

In [8]:
# slicing

In [9]:
city ="Bangalore"

In [10]:
city[0:4]

'Bang'

In [12]:
city[3:6]

'gal'

In [13]:
city[2:5]

'nga'

In [14]:
city[2:]

'ngalore'

In [15]:
city[:5]

'Banga'

In [16]:
city[:]

'Bangalore'

In [17]:
print(city.upper())
print(city.lower())

BANGALORE
bangalore

In [18]:
dir(city)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [19]:
help(city.swapcase)

Help on built-in function swapcase:

swapcase() method of builtins.str instance
    Convert uppercase characters to lowercase and lowercase characters to uppercase.

In [20]:
#search a string

In [21]:
text = "I love Bangalore, and not its traffic"

In [24]:
print("traffic" in text)               #seach anywhere in the text
print(text.startswith("traffic"))      #search in the beginning of text
print(text.endswith("traffic"))        #search at the end of the text

True
False
True

In [25]:
text[-5:] # prints the last 5 chars

'affic'

In [28]:
text[::-1]

'ciffart sti ton dna ,erolagnaB evol I'

In [37]:
city = "Bangalore"
company = "walmart"

In [38]:
city + company

'Bangalorewalmart'

In [39]:
city * 5

'BangaloreBangaloreBangaloreBangaloreBangalore'

## Lists

In [40]:
a =[4,7,8,2,4,6,8,9,3,4,5,6]

In [41]:
len(a)

12

In [42]:
min(a)

2

In [43]:
max(a)

9

In [44]:
type(a)

list

In [46]:
a[0]

4

In [47]:
a[-2]

5

In [48]:
a[0:3]

[4, 7, 8]

In [49]:
a[3:6]

[2, 4, 6]

In [50]:
a[::-1]

[6, 5, 4, 3, 9, 8, 6, 4, 2, 8, 7, 4]

In [51]:
#add elements
a.append(20)
a.insert(2,99)

In [52]:
a

[4, 7, 99, 8, 2, 4, 6, 8, 9, 3, 4, 5, 6, 20]

In [53]:
# remove elements
a.remove(8) #removes the first occurance of 8
a.pop(2) # removes the element at index 2

99

In [54]:
a

[4, 7, 2, 4, 6, 8, 9, 3, 4, 5, 6, 20]

In [55]:
# info about list
a.count(8)

1

In [56]:
a.index(20) # finds the index of 20

11

In [57]:
# reordering a list
a.sort()

In [58]:
a

[2, 3, 4, 4, 4, 5, 6, 6, 7, 8, 9, 20]

In [59]:
a.sort(reverse=True)

In [60]:
a

[20, 9, 8, 7, 6, 6, 5, 4, 4, 4, 3, 2]

In [61]:
a.reverse()

In [62]:
a

[2, 3, 4, 4, 4, 5, 6, 6, 7, 8, 9, 20]

In [63]:
a*3

[2,
 3,
 4,
 4,
 4,
 5,
 6,
 6,
 7,
 8,
 9,
 20,
 2,
 3,
 4,
 4,
 4,
 5,
 6,
 6,
 7,
 8,
 9,
 20,
 2,
 3,
 4,
 4,
 4,
 5,
 6,
 6,
 7,
 8,
 9,
 20]

In [64]:
a+a

[2, 3, 4, 4, 4, 5, 6, 6, 7, 8, 9, 20, 2, 3, 4, 4, 4, 5, 6, 6, 7, 8, 9, 20]

In [65]:
b=[4,5,5.6,True,'hello',[]]

## Tuple

In [66]:
# A tuple is a read only list

In [67]:
b = (3,4,5,6,3)

In [68]:
type(b)

tuple

In [69]:
b[0]

3

In [70]:
b[-1]

3

In [71]:
b.count(1)

0

In [72]:
b.index(6)

3

## Dictionary

In [74]:
d = {"red":"blood","blue":"sky","white":"milk"}
std = {"blr":"080","hyd":"040"}

In [75]:
type(d)

dict

In [76]:
len(std)

2

In [77]:
d.keys()

dict_keys(['red', 'blue', 'white'])

In [78]:
d.values()

dict_values(['blood', 'sky', 'milk'])

In [79]:
d.items()

dict_items([('red', 'blood'), ('blue', 'sky'), ('white', 'milk')])

In [80]:
# access an element from dict
print(d['white'])

milk

In [81]:
print(d.get('blue'))

sky

In [82]:
#add/modify an element

In [83]:
d['black'] = 'night'

In [84]:
d

{'red': 'blood', 'blue': 'sky', 'white': 'milk', 'black': 'night'}

In [85]:
d['black'] = 'night sky'

In [86]:
d

{'red': 'blood', 'blue': 'sky', 'white': 'milk', 'black': 'night sky'}

In [87]:
#delete an element

In [88]:
del d['black']

In [89]:
d

{'red': 'blood', 'blue': 'sky', 'white': 'milk'}

## set

In [91]:
java_programmers = {"shobhit","sanjay","sunny","vishwanath"}
python_programmers = {"mohit","sunny","ramesh"}

In [92]:
print(type(java_programmers))

<class 'set'>

In [93]:
len(java_programmers)

4

In [94]:
java_programmers.union(python_programmers)

{'mohit', 'ramesh', 'sanjay', 'shobhit', 'sunny', 'vishwanath'}

In [95]:
java_programmers.intersection(python_programmers)

{'sunny'}

In [96]:
java_programmers - python_programmers

{'sanjay', 'shobhit', 'vishwanath'}

In [97]:
a =[4,7,8,2,4,6,8,9,3,4,5,6]

In [98]:
type(a)

list

In [99]:
set(a)

{2, 3, 4, 5, 6, 7, 8, 9}

In [100]:
list(set(a))

[2, 3, 4, 5, 6, 7, 8, 9]

In [101]:
m=set()

In [102]:
m.add(45)

In [103]:
m.add(20)

In [104]:
m

{20, 45}

In [105]:
m.add(45)

In [106]:
m

{20, 45}