In [2]:
import pandas as pd
df=pd.read_csv("house-prices.csv")

In [3]:
df.head()

   area_in_square_feet  no_rooms   price
0                 2104         3  399900
1                 1600         3  329900
2                 2400         3  369000
3                 1416         2  232000
4                 3000         4  539900

In [4]:
#output = dependent   = y = price
#input  = independent = x = kms,age,mileage

In [5]:
df.shape

(47, 3)

In [6]:
y = df.price
x = df.drop(columns=['price'])

In [7]:
y.head(10)

0    399900
1    329900
2    369000
3    232000
4    539900
5    299900
6    314900
7    198999
8    212000
9    242500
Name: price, dtype: int64

In [8]:
y.shape

(47,)

In [9]:
x.shape

(47, 2)

In [19]:
x.head()

   area_in_square_feet  no_rooms
0                 2104         3
1                 1600         3
2                 2400         3
3                 1416         2
4                 3000         4

In [20]:
from sklearn.linear_model import LinearRegression

In [21]:
model = LinearRegression()

In [22]:
model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
model.score(x,y)

0.7329450180289141

In [29]:
model.predict([[3500, 4]])

array([541883.19215518])

In [30]:
df['predicted_price'] = model.predict(x)

In [31]:
df.head()

   area_in_square_feet  no_rooms   price  predicted_price
0                 2104         3  399900    356283.110339
1                 1600         3  329900    286120.930634
2                 2400         3  369000    397489.469848
3                 1416         2  232000    269244.185727
4                 3000         4  539900    472277.855146

In [32]:
df['prediction_err'] = df.price -df.predicted_price

In [33]:
df.head()

   area_in_square_feet  no_rooms   price  predicted_price  prediction_err
0                 2104         3  399900    356283.110339    43616.889661
1                 1600         3  329900    286120.930634    43779.069366
2                 2400         3  369000    397489.469848   -28489.469848
3                 1416         2  232000    269244.185727   -37244.185727
4                 3000         4  539900    472277.855146    67622.144854

In [34]:
df['squared_err'] = df.prediction_err ** 2

In [35]:
df.head()

,area_in_square_feet,no_rooms,price,predicted_price,prediction_err,squared_err
0,2104,3,399900,356283.110339,43616.889661,1.902433e+09
1,1600,3,329900,286120.930634,43779.069366,1.916607e+09
2,2400,3,369000,397489.469848,-28489.469848,8.116499e+08
3,1416,2,232000,269244.185727,-37244.185727,1.387129e+09
4,3000,4,539900,472277.855146,67622.144854,4.572754e+09

In [38]:
df.squared_err.sum()/df.squared_err.count() # mean squared error

4086560101.205658

In [40]:
4086560101.205658 ** 0.5 # RMSE (Roo Mean Squared Error)

63926.2082498693

In [41]:
from sklearn.metrics import mean_squared_error as mse

In [43]:
mse(y, model.predict(x)) ** 0.5

63926.2082498693