# List Comprehensions

In [3]:
# create a list of squares of number 1 to 10
a=[]
for x in range(1,11):
    a.append(x*x)

In [4]:
a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
b = [x*x for x in range(1,11)]

In [7]:
b

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
# square roots of number from 80 to 90
[number for number in range(80,91)]

[80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

In [10]:
[number**2 for number in range(80,91)]

[6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100]

In [11]:
[number ** 0.5 for number in range(80,91)]

[8.94427190999916,
 9.0,
 9.055385138137417,
 9.1104335791443,
 9.16515138991168,
 9.219544457292887,
 9.273618495495704,
 9.327379053088816,
 9.38083151964686,
 9.433981132056603,
 9.486832980505138]

In [12]:
from math import sqrt

In [13]:
[sqrt(x) for x in range(80,91)]

[8.94427190999916,
 9.0,
 9.055385138137417,
 9.1104335791443,
 9.16515138991168,
 9.219544457292887,
 9.273618495495704,
 9.327379053088816,
 9.38083151964686,
 9.433981132056603,
 9.486832980505138]

In [22]:
numbers = [3,67,89,4,5,3,2,1,-1,34,-57,-90,34]

In [23]:
#squares of all numbers

In [24]:
[x*x for x in numbers]

[9, 4489, 7921, 16, 25, 9, 4, 1, 1, 1156, 3249, 8100, 1156]

In [ ]:
#squares of all odd numbers

In [25]:
b=[]
for x in numbers:
    if x % 2 == 1:
        b.append(x*x)

In [26]:
b

[9, 4489, 7921, 25, 9, 1, 1, 3249]

In [27]:
[x*x for x in numbers if x % 2 == 1]

[9, 4489, 7921, 25, 9, 1, 1, 3249]

# dictionary comprehension

In [15]:
# create a dictionary with numbers 1 to 10 as keys and their square as values

In [16]:
{x:x*x for x in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [17]:
names = [("Rahul",8),("arindam",13),("Sanjay",5),("soham",6),("Sagar",10),("Swathi",6)]

In [20]:
{x[0]:x[1] for x in names}

{'Rahul': 8, 'arindam': 13, 'Sanjay': 5, 'soham': 6, 'Sagar': 10, 'Swathi': 6}

In [21]:
{x[0].upper():x[1] for x in names}

{'RAHUL': 8, 'ARINDAM': 13, 'SANJAY': 5, 'SOHAM': 6, 'SAGAR': 10, 'SWATHI': 6}

In [29]:
{x[0].upper():x[1] for x in names if x[0].upper().startswith('S')}

{'SANJAY': 5, 'SOHAM': 6, 'SAGAR': 10, 'SWATHI': 6}