# Map Reduce Filter

In [1]:
numbers = [3,67,89,4,5,3,2,1,-1,34,-57,-90,34]

In [3]:
def square(x):
    return x*x

In [6]:
for x in map(square,numbers):
    print(x)

9
4489
7921
16
25
9
4
1
1
1156
3249
8100
1156

In [7]:
list(map(square,numbers))

[9, 4489, 7921, 16, 25, 9, 4, 1, 1, 1156, 3249, 8100, 1156]

In [8]:
list(map(lambda x:x+3,numbers))

[6, 70, 92, 7, 8, 6, 5, 4, 2, 37, -54, -87, 37]

In [9]:
list(map(lambda x:abs(x),numbers))

[3, 67, 89, 4, 5, 3, 2, 1, 1, 34, 57, 90, 34]

In [10]:
list(map(lambda x:True,numbers))

[True, True, True, True, True, True, True, True, True, True, True, True, True]

In [11]:
list(map(lambda x:False,numbers))

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

In [12]:
list(map(lambda x:True if x%2==0 else False,numbers))

[False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 True,
 True]

In [13]:
list(map(lambda x:(x,True if x%2==0 else False),numbers))

[(3, False),
 (67, False),
 (89, False),
 (4, True),
 (5, False),
 (3, False),
 (2, True),
 (1, False),
 (-1, False),
 (34, True),
 (-57, False),
 (-90, True),
 (34, True)]

In [18]:
names = ['Ravi','Lakshmi','Swathi','Ujwal']

In [19]:
#len of names using map

In [21]:
list(map(lambda x:len(x), names))

[4, 7, 6, 5]

In [22]:
list(map(len, names))

[4, 7, 6, 5]

In [23]:
# filter

In [25]:
list(filter(lambda x:len(x)>4 ,names))

['Lakshmi', 'Swathi', 'Ujwal']

In [26]:
#print all positive numbers

In [29]:
list(filter(lambda x:x>=0,numbers))

[3, 67, 89, 4, 5, 3, 2, 1, 34, 34]

In [30]:
#30 = 30  map
#30 = <30 filter
#30 = 1 reduce

In [31]:
from functools import reduce

In [32]:
reduce(lambda a,b:a+b, numbers)

94

In [33]:
reduce(lambda a,b:a*b, numbers)

-12730413470400