In [1]:
import pandas as pd
df=pd.read_csv("iris.csv")

In [2]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
df.species.value_counts()

versicolor    50
setosa        50
virginica     50
Name: species, dtype: int64

In [4]:
y = df['species']

In [5]:
x = df.drop(columns=['species'])

In [6]:
y.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [7]:
x.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [8]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [9]:
lr.fit(x,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [12]:
lr.score(x,y)

0.9733333333333334

In [13]:
df['predicted_cat'] =  lr.predict(x)

In [14]:
df['Error'] = df.species == df.predicted_cat

In [16]:
df.Error.value_counts()

True     146
False      4
Name: Error, dtype: int64

In [17]:
146/(146+4)

0.9733333333333334