# Sorting

In [18]:
numbers = [3,67,89,4,5,3,2,1,-1,34,-57,-90,34]
names = [("Rahul",8),("arindam",13),("Sanjay",5),("soham",6),("Sagar",10),("Swathi",6)]

In [19]:
sorted(numbers)

[-90, -57, -1, 1, 2, 3, 3, 4, 5, 34, 34, 67, 89]

In [20]:
a = sorted(numbers)

In [21]:
a

[-90, -57, -1, 1, 2, 3, 3, 4, 5, 34, 34, 67, 89]

In [22]:
sorted(numbers,reverse=True)

[89, 67, 34, 34, 5, 4, 3, 3, 2, 1, -1, -57, -90]

In [23]:
sorted(names)

[('Rahul', 8),
 ('Sagar', 10),
 ('Sanjay', 5),
 ('Swathi', 6),
 ('arindam', 13),
 ('soham', 6)]

In [25]:
sorted(numbers,key = lambda x:abs(x))

[1, -1, 2, 3, 3, 4, 5, 34, 34, -57, 67, 89, -90]

In [29]:
sorted(names,key = lambda x:x[0].upper()) # sort by name case insensitive

[('arindam', 13),
 ('Rahul', 8),
 ('Sagar', 10),
 ('Sanjay', 5),
 ('soham', 6),
 ('Swathi', 6)]

In [30]:
sorted(names,key = lambda x:x[1])  # sort by experience

[('Sanjay', 5),
 ('soham', 6),
 ('Swathi', 6),
 ('Rahul', 8),
 ('Sagar', 10),
 ('arindam', 13)]

In [32]:
sorted(names,reverse = True, key = lambda x:x[1])  # sort by experience desc

[('arindam', 13),
 ('Sagar', 10),
 ('Rahul', 8),
 ('soham', 6),
 ('Swathi', 6),
 ('Sanjay', 5)]

In [33]:
sorted(names, key = lambda x: len(x[0]))# sort by number of chars in the name

[('Rahul', 8),
 ('soham', 6),
 ('Sagar', 10),
 ('Sanjay', 5),
 ('Swathi', 6),
 ('arindam', 13)]