In [84]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits import mplot3d
import numpy as np
from scipy import stats
import seaborn as sns
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.decomposition import PCA

In [85]:
titanic_orig = pd.read_csv('train.csv')
titanic_test_orig = pd.read_csv('test.csv')

titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    891 non-null    int64
 1   Pclass      891 non-null    int64
 2   Age         891 non-null    float64
 3   SibSp       891 non-null    int64
 4   Parch       891 non-null    int64
 5   Fare        891 non-null    float64
 6   hasCabin    891 non-null    bool
 7   Sex_female  891 non-null    uint8
 8   Sex_male    891 non-null    uint8
 9   Embarked_C  891 non-null    uint8
 10  Embarked_Q  891 non-null    uint8
 11  Embarked_S  891 non-null    uint8
dtypes: bool(1), float64(2), int64(4), uint8(5)
memory usage: 47.1 KB

In [86]:
def transform(data):    
    data['hasCabin'] = data['Cabin'].notna()
    data = data.drop(['PassengerId', 'Name', 'Ticket','Cabin'],axis=1)

    data = pd.get_dummies(data)
    data.Age = data.Age.fillna(data.Age.mean())
    data.Fare = data.Fare.fillna(data.Fare.mean())
    return data

In [87]:
titanic = transform(titanic_orig)
titanic_test = transform(titanic_test_orig)

In [114]:
X = titanic.drop("Survived", axis=1)
y = titanic["Survived"]

model = DecisionTreeClassifier(max_depth=1)

model.fit(X, y)
result = model.predict(titanic_test)
len(result)

418

In [115]:
titanic_test_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
 11  hasCabin     418 non-null    bool
dtypes: bool(1), float64(2), int64(4), object(5)
memory usage: 36.5+ KB

In [116]:
# PassengerId,
submission = pd.DataFrame(titanic_test_orig['PassengerId'])
submission.info()
submission['Survived'] = result

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
dtypes: int64(1)
memory usage: 3.4 KB

In [118]:
submission.to_csv('gender_submission.csv',index=False)
submission.to_csv('/Users/a0a00uj/Downloads/gender_submission.csv',index=False)