In [1]:
import math
import collections
import urllib

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [3]:
import getweather

In [7]:
np.genfromtxt('stations.txt',
                      delimiter=[11,4,2,4] + [5,1,1,1]*31,
                      # we will not use the daily flags, so this list becomes
                      # 0, 1, 2, 3, 4, 8, 12, 16, 20, 24...
                      usecols=[0,1,2,3] + list(range(4,4*32,4)),
                      # the names of the daily observations will be day1, day2, day3, ...
                      names=['id','year','month','element'] + [f'day{i}' for i in range(1,32)],
                      dtype=['U11','i','i','U4'] + ['d']*31,
                      autostrip=True)['year']

array([ 17,  17,  25, ..., -21, -20, -22], dtype=int32)

In [10]:
yeardata = getweather.getdata('PASADENA')

In [28]:
yeardata

            TMIN  TMAX   PRCP  SNOW
date
1893-01-01   6.1  24.4    0.0   0.0
1893-01-02   7.8  27.2    0.0   0.0
1893-01-03   7.8  27.8    0.0   0.0
1893-01-04   9.4  26.7    0.0   0.0
1893-01-05   6.7  27.2    0.0   0.0
...          ...   ...    ...   ...
2020-03-18   5.0  16.1    0.0   NaN
2020-04-07   9.4  17.2   18.0   NaN
2020-04-08   8.9  14.4  249.0   NaN
2020-04-11   8.3  22.2    3.0   NaN
2020-04-12  10.6  21.7   13.0   NaN

[41638 rows x 4 columns]

In [31]:
allavg = np.nanmean(0.5 * (yeardata['TMIN'] + yeardata['TMAX']), axis=1)

AxisError: axis 1 is out of bounds for array of dimension 1

In [24]:
allavg

10.74644729178783

In [4]:
# for records: get TMIN/TMAX arrays for years 1910-2018, stack vertically in array

allyears = np.vstack([getweather.getyear('PASADENA', ['TMIN','TMAX'], year)
                      for year in range(1910, 2019)])

In [ ]:
# for records: get TMIN/TMAX arrays for years 1910-2018, stack vertically in array

allyears = np.vstack([getweather.getyear('PASADENA', ['TMIN','TMAX'], year)
                      for year in range(1910, 2019)])